version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8

    working_directory: /tmp/decentraland-crypto

    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Build library
          command: npm run build
      - save_cache:
          paths:
            - dist
          key: dist-{{ .Branch }}-{{ .Revision }}

  test:
    docker:
      - image: circleci/node:8-browsers
        environment:
          CHROME_BIN: '/usr/bin/google-chrome'
      - image: ethereum/client-go
        command: |
          --identity="TEST_NODE"
          --networkid="53611"
          --rpc
          --rpcaddr 0.0.0.0
          --rpcapi admin,debug,eth,miner,net,personal,shh,txpool,web3
          --ws
          --wsaddr 0.0.0.0
          --wsapi admin,debug,eth,miner,net,personal,shh,txpool,web3
          --wsorigins "*"
          --mine
          --minerthreads=1
          --dev

    working_directory: /tmp/decentraland-crypto

    steps:
      - checkout
      - setup_remote_docker:
          version: 17.05.0-ce
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: dependencies-{{ checksum "package-lock.json" }}
      - restore_cache:
          keys:
            - dist-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Run tests
          command: npm run test

  release:
    docker:
      - image: circleci/node:8

    working_directory: /tmp/decentraland-crypto

    steps:
      - checkout
      - restore_cache:
          keys:
            - dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install node dependencies
          command: npm install && npm run build
      - restore_cache:
          keys:
            - dist-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Semantic release
          command: rm -rf node_modules src test && npm run semantic-release

workflows:
  version: 2
  test-build-release:
    jobs:
      - build
      - test:
          requires:
            - build
      - release:
          requires:
            - test
          filters:
            branches:
              only:
                - master
